#appwin {
    /*font-family: monospace;*/
    background-color: #09010c;
    color: #fefeff;
}

#dialog {
    font-family: monospace;
    background-color: #09010c;
    color: #fefeff;
}

button {
    font-family: monospace;
    border-radius: 0;
    border: 1px solid #fefeff;
}

#menubar {
    font-family: monospace;
    background-color: #000000;
    color: #fefeff;
    border-bottom: 1px solid #eeeeff;
}

#file {
    font-family: monospace;
    background-color: #000000;
    color: #fefeff;
    border: 1px solid #eeeeff;
}

#help {
    font-family: monospace;
    background-color: #000000;
    color: #fefeff;
    border: 1px solid #eeeeff;
}

menuitem {
    font-family: monospace;
}

menuitem:hover {
    background-color: #220011;
}

#txtview {
    font-family: monospace;
}

#txtview text {
    color: #dedede;
    background-color: #09010c;
    caret-color: #ffffff;
}

#txtview text selection {
    color: #09010c;
    background-color: #eeeeff;
}